/* --- General --- */

main {
  padding: 20px 0;
}

section {
  margin-bottom: 100px;
}

h1 {
  margin: 0 0 30px 10px;
}

h2 {
  margin: 0 10px;
  border-bottom: 1px solid gray;
}

h3 {
  margin: 12px 0;
  border-bottom: 1px solid lightgray;
}

/* --- Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
  border: red 10px solid;
}

.item {
  flex: 1; /* means that each item in .group should have the same width (be same size) regardless */
  margin: 10px;
  border: blue 2px solid; 
}

.item-double{
  flex: 2;
  /*margin: 10px;
  border: blue 2px solid; */
}
